<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sumera.argallery"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:roundIcon="@drawable/photo"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:replace="android:icon,android:theme">

		<activity
			android:name="com.sumera.argallery.ui.feature.main.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.feature.picturedetails.PictureDetailsActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".ui.feature.unityactivity.UnityStarterActivity"
			android:screenOrientation="portrait"/>

	</application>

</manifest>